.outermost-container {
  background-color: #eceff4;
}

.header-social-logo {
  background-color: #d8dee9;
  padding: 1em;
  border-radius: 20px;
  color: #2e3440;
}

.header-social-logo:hover {
  background-color: #2e3440;
  color: #d8dee9;
}

.section-info {
  color: #4c566a;
  margin-bottom: 1em;
}

.section-info-text {
  color: #4c566a;
  background-color: #d8dee9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
